@import url('content/font/stylesheet.css');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* Everything Else */

* {
    font-family: 'Futura', sans-serif;
}

body {
    background-color: #ccd3d4;
}

.navbar {
    display: flex;
    align-items: center;

    justify-content: space-between;

    padding: 31px 200px;
}

.navleft {
    display: flex;
    align-items: center;
    gap: 45px;

    text-decoration: underline;
}



.maincontent {
    display: flex;

    margin: 32px 0 0 200px;

    gap: 20px;
}

.leftcontent {
    background-color: #3b4248;
    width: 404px;
    height: 500px; /* temp */
    padding: 16px;

    color: white;
}

.leftcontent hr {
    color: white;
}

.leftcontent p {
    margin: 8px 0;
}

.leftcontent h2 {
    color: white;
}

.rightcontent {
    display: grid;
    width: 100%;
    margin-right: 200px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "header header header"
        "button1 button2 button3"
        "button4 button4 button4";
}

.portaltitle {
    grid-area: header;
    height: 32px;
}

#button1, #button2, #button3, #button4 {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    color: white;
}

#button1 {
    grid-area: button1;

    background-color: #57799b;
}

#button2 {
    grid-area: button2;

    background-color: #57799b;
}

#button3 {
    grid-area: button3;

    background-color: #57799b;
}

#button4 {
    grid-area: button4;

    background-color: #57799b;
}

#overlay {
    position: fixed;
    display: flex;

    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);

    padding: 100px;
}

#overlay video {
    max-height: 90vh;
}

#closebtn {
    color: white;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;

    cursor: pointer;

    float: right;
    user-select: none;

    position: absolute;

    top: 25px;
    right: 25px;

    background-color: black;
    padding: 0 15px;
}

#closebtn:hover {
    color: red;
}

#videothumbnail {
    background-image: url("content/videothumbnail.png");
    background-size: contain;
    margin-bottom: 5px;

    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    color: red;

    font-weight: bold;
}

#videothumbnail u {
    text-shadow: black 0px 0px;
}

/* DEFAULT STYLES

.hero = wide, high image with content inside
.flex = flex container with settings row & default gap. Can contain images & text.

*/

.hero h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.hero h1 span {
    color: #ffde59;
}

.flex h1 {
    display: black;
    margin-bottom: 15px;
}

.flex h1 span {
    color: #57799b;
}

.hero {
    width: 100%;
    padding: 200px;
    
    display: flex;
    justify-content: right;

    background-color: dark;
    background-size: cover;
    background-position: center;
}

.hero div {

    background-color: rgba(0, 0, 0, 0.4);
    color: white;

    display: block;
    min-height: 150px;
    max-width: 50%;
    padding: 25px;
}

.flex {
    display: flex;
    gap: 50px;

    padding: 50px 200px 0;
    
    width: 100%;
}

.flex img {
    flex-grow: 1;
    margin: 0 auto;
    max-height: 75vh;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul, ol {
    padding-left: 20px;
}

ul:last-child, ol:last-child, li:last-child {
    margin-bottom: 25px;
}

a {
    color: #9e856b;

    text-decoration: underline;
}

a:hover {
    color: #57799b;
}

h2 {
    color: black;
}

h2 span {
    color: #57799b;
}

.arrowlist {
    list-style-type: "▼ ";
}

.arrowlist p {
    margin: 0;
}

.arrowlist li {
    margin-bottom: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background-color: rgba(0, 0, 0, 0.2);

    height: 200px;
}