@import url('content/font/stylesheet.css');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* Everything Else */

* {
    font-family: 'Futura', sans-serif;
}

body {
    background-color: #ccd3d4;
}

.navbar {
    display: flex;
    align-items: center;

    justify-content: space-between;

    padding: 31px 200px;
}

.navleft {
    display: flex;
    align-items: center;
    gap: 45px;

    text-decoration: underline;
}

.maincontent {
    display: flex;

    margin: 32px 0 0 200px;

    gap: 20px;
}

.leftcontent {
    background-color: #3b4248;
    width: 404px;
    height: 500px; /* temp */
    padding: 16px;

    color: white;
}

.leftcontent hr {
    color: white;
}

.leftcontent p {
    margin: 8px 0;
}

.rightcontent {
    display: grid;
    width: 100%;
    margin-right: 200px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "header header header"
        "button1 button2 button3"
        "button4 button4 button4";
}

.portaltitle {
    grid-area: header;
    height: 32px;
}

#button1, #button2, #button3, #button4 {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    color: white;
}

#button1 {
    grid-area: button1;

    background-color: #57799b;
}

#button2 {
    grid-area: button2;

    background-color: #57799b;
}

#button3 {
    grid-area: button3;

    background-color: #57799b;
}

#button4 {
    grid-area: button4;

    background-color: #57799b;
}

.overlay {
    position: fixed;
    display: flex;

    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);

    padding: 100px;
}

.closebtn {
    color: white;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;

    cursor: pointer;

    float: right;
    user-select: none;

    position: absolute;

    top: 50px;
    right: 150px;

    background-color: black;
    padding: 0 15px;
}

.closebtn:hover {
    color: red;
}