@font-face {
    font-family: 'Futura';
    src: url('Futura-CondensedExtraBold.woff2') format('woff2'),
        url('Futura-CondensedExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-CondensedMedium.woff2') format('woff2'),
        url('Futura-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-MediumItalic.woff2') format('woff2'),
        url('Futura-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-Bold.woff2') format('woff2'),
        url('Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-Medium.woff2') format('woff2'),
        url('Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

